<div class="main-div">
  <h1><b>Calcolatrice</b></h1>

  <mat-grid-list cols="5" rowHeight="16:9">
      <mat-grid-tile colspan="3" class="border-black">{{calculation}}</mat-grid-tile>
      <mat-grid-tile><button (click)="function('f', 'CANC')" mat-raised-button color="warn">CANC</button></mat-grid-tile>
      <mat-grid-tile><button (click)="function('f', 'DEL')" mat-raised-button color="warn">DEL</button></mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="5" rowHeight="2:1">
      <mat-grid-tile><button (click)="function('n', 1)" mat-raised-button color="primary">1</button></mat-grid-tile>
      <mat-grid-tile><button (click)="function('n', 2)" mat-raised-button color="primary">2</button></mat-grid-tile>
      <mat-grid-tile><button (click)="function('n', 3)" mat-raised-button color="primary">3</button></mat-grid-tile>
      <mat-grid-tile><button (click)="function('f', '+')" mat-raised-button color="accent">+</button></mat-grid-tile>
      <mat-grid-tile><button (click)="function('f', '-')" mat-raised-button color="accent">-</button></mat-grid-tile>
      
      <mat-grid-tile><button (click)="function('n', 4)" mat-raised-button color="primary">4</button></mat-grid-tile>
      <mat-grid-tile><button (click)="function('n', 5)" mat-raised-button color="primary">5</button></mat-grid-tile>
      <mat-grid-tile><button (click)="function('n', 6)" mat-raised-button color="primary">6</button></mat-grid-tile>
      <mat-grid-tile><button (click)="function('f', '*')" mat-raised-button color="accent">X</button></mat-grid-tile>
      <mat-grid-tile><button (click)="function('f', '/')" mat-raised-button color="accent">/</button></mat-grid-tile>
      
      <mat-grid-tile><button (click)="function('n', 7)" mat-raised-button color="primary">7</button></mat-grid-tile>
      <mat-grid-tile><button (click)="function('n', 8)" mat-raised-button color="primary">8</button></mat-grid-tile>
      <mat-grid-tile><button (click)="function('n', 9)" mat-raised-button color="primary">9</button></mat-grid-tile>
      <mat-grid-tile><button (click)="function('f', 'POW')" mat-raised-button color="warn">POW</button></mat-grid-tile>
      <mat-grid-tile><button (click)="function('f', 'SQRT')" mat-raised-button color="warn">SQRT</button></mat-grid-tile>
      
      <mat-grid-tile><button (click)="function('f', 'ANS')" mat-raised-button color="warn">ANS</button></mat-grid-tile>
      <mat-grid-tile><button (click)="function('n', 0)" mat-raised-button color="primary">0</button></mat-grid-tile>
      <mat-grid-tile><button (click)="function('f', '.')" mat-raised-button color="warn">.</button></mat-grid-tile>
      <mat-grid-tile colspan="2"><button id="equals" (click)="function('f', '.')" mat-raised-button color="warn">=</button></mat-grid-tile>
      
  </mat-grid-list>
    
</div>
